:root {
  --Main_Title: 20px;
  --Product_Name: 11px;
  --Product_Category: 8px;
  --Product_Company: 8px;
  --Discount_Percentage: 10px;
  --Product_Price: 14px;
  --Product_Mrp: 8px;
  --View_Product_Btn: 10px;
  --Category_Select-Main: 22px;
  --Category_Select-Select: 13px;
  --Category_Select-Button: 14px;
}

.App_Title {
  position: fixed;
  display: block;
  width: 100%;
  top: 0px;
  background-color: #242424;
  text-align: center;
  padding: .3em 0 .5em 0;
}

.App_Title--Text {
  font-size: var(--Main_Title);
}

.Product_Display {
  width: 97%;
  margin: 0 auto;
  padding: 3em 0;
}

.Product_Container {
  margin: .3em 0;
  padding: 2em 0;
  max-height: 270px;
  display: flex;
  align-items: center;
  background-color: black;
}

.Product_Image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  /* max-width: 30%; */
  width: 40%;
  margin: 0 .7em 0 .3em;
}

.Product_Image img {
  border-radius: 10px;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.Product_Details {
  max-width: 55%;
}

.Product_Name {
  font-size: var(--Product_Name);
  margin-bottom: .3em;
}

.Product_Category {
  font-size: var(--Product_Category);
}

.Product_Company {
  font-size: var(--Product_Company);
}

.Discount_Percentage {
  font-size: var(--Discount_Percentage);
}

.Product_Price {
  font-size: var(--Product_Price);
  margin: .5em 0 .1em 0;
}

.Product_MRP {
  font-size: var(--Product_Mrp);
}

.Product_MRP--Strike {
  text-decoration: line-through;
}

.View_Product--Button {
  font-size: var(--View_Product_Btn);
  font-weight: 600;
  padding: .8em 1.5em;
  margin-top: .5em;
  border-style: none;
  border-radius: 3px;
  background-color: gold;
  color: black;
  cursor: pointer;
}

.Product_Filter_Tab--Mobile {
  position: fixed;
  bottom: 0;
  z-index: 2;
  background-color: gold;
  color: black;
  width: 100%;
  padding: .5em 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Product_Category_Window--Mobile,
.Product_Filter_Window--Mobile {
  position: fixed;
  bottom: 0;
  left: 1.5vw;
  z-index: 1;
  background-color: whitesmoke;
  color: black;
  width: 97vw;
  height: 600px;
  padding: 1em .7em;
}

.Select_Category_Heading {
  font-size: var(--Category_Select-Main);
}

.Select_Category--Select {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

.Select_Category--Select select {
  font-size: var(--Category_Select-Select);
  padding: .3em 0;
  width: 200px;
  border-style: none;
}

.Select_Category_Button {
  display: flex;
  justify-content: center;
}

.Select_Category_Button button {
  font-size: var(--Category_Select-Button);
  padding: .8em 1em;
  border-style: none;
  border-radius: 7px;
}

.Select_Category_Button--Active button{
  background-color: black;
  color: white;
}

.Select_Company, .Select_Price {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

.Select_Company select {
  font-size: var(--Category_Select-Select);
  padding: .3em 0;
  width: 200px;
  border-style: none;
}

.Select_Price select {
  font-size: var(--Category_Select-Select);
  padding: .3em 0;
  width: 200px;
  border-style: none;
}

.Product_Filter--Category p, .Product_Filter--Filter p {
  width: 100px;
  text-align: center;
  padding: .3em .5em;
  border-radius: 7px;
  background-color: black;
  color: white;
}

.Display_None {
  display: none;
}

.Product_Category_Select_Tab--Large,
.Product_Filter_Select_Tab--Large {
  display: none;
}

@media (min-width: 500px) {

  :root {
    --Main_Title: 20px;
    --Product_Name: 14px;
    --Product_Category: 10px;
    --Product_Company: 10px;
    --Discount_Percentage: 11px;
    --Product_Price: 16px;
    --Product_Mrp: 11px;
    --View_Product_Btn: 12px;
    --Category_Select-Main: 24px;
    --Category_Select-Select: 15px;
    --Category_Select-Button: 14px;
  }

  .App_Title {
    padding: .6em 0 .4em 0;
  }

  .Product_Container {
    padding: 3em 0;
    max-height: 300px;
  }
  
  .Product_Image {
    height: 200px;
    /* min-width: 25%; */
    width: 40%;
  }

}

@media (min-width: 700px) {

  :root {
    --Main_Title: 23px;
    --Product_Name: 16px;
    --Product_Category: 12px;
    --Product_Company: 12px;
    --Discount_Percentage: 12px;
    --Product_Price: 18px;
    --Product_Mrp: 12px;
    --View_Product_Btn: 13px;
    --Category_Select-Main: 24px;
    --Category_Select-Select: 15px;
    --Category_Select-Button: 14px;
  }

  .App_Title {
    padding: .5em 0;
  }

  .Product_Image {
    width: 30%;
  }

}

@media (min-width: 900px) {

  .Home_Page_Container {
    width: 95%;
    margin: 0 auto;
  }

  .Product_Filter_Tab--Mobile,
  .Product_Category_Window--Mobile,
  .Product_Filter_Window--Mobile {
    display: none;
  }

  .Home_Page_Main {
    display: flex;
  }

  .Product_Display::-webkit-scrollbar {
      width: 0px;
  }

  .Product_Display {
    max-height: 100vh;
    overflow-y: scroll;
    padding-top: 3em;
  }

  .Product_Category_Select_Tab--Large,
  .Product_Filter_Select_Tab--Large {
    display: block;
    width: 25%;
    margin: 3em 1em 0 1em;
  }

  .Product_Category_Select--Large--Select,
  .Product_Company_Select--Large--Select,
  .Product_Price_Select--Large--Select {
    display: flex;
    justify-content: center;
    margin: 2em 0;
  }

  .Product_Category_Select--Large--Select select,
  .Product_Company_Select--Large--Select select,
  .Product_Price_Select--Large--Select select {
    font-size: var(--Category_Select-Select);
    padding: .3em 0;
    width: 200px;
    border-style: none;
  }

  .Product_Image {
    /* min-width: 20%; */
    width: 30%;
  }

  .Product_Details {
    max-width: 65%;
  }

}

@media (min-width: 1350px) {

  :root {
    --Main_Title: 30px;
    --Product_Name: 14px;
    --Product_Category: 10px;
    --Product_Company: 10px;
    --Discount_Percentage: 11px;
    --Product_Price: 16px;
    --Product_Mrp: 11px;
    --View_Product_Btn: 12px;
    --Category_Select-Main: 24px;
    --Category_Select-Select: 15px;
    --Category_Select-Button: 14px;
  }

  .App_Title--Text {
    margin-top: .2em;
  }

  .Product_Display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 4em;
  }

  .Product_Container {
    margin: .3em;
  }

  .Product_Image {
    /* min-width: 25%; */
    width: 35%;
  }

  .Product_Details {
    /* max-width: 65%; */
    max-width: 50%;
  }

}